
.section2 {
  background-color: var(--COLOR-ONE);
  width: 50%; 
}

.utherdescription {
  background-image: url("images/utherpendragon/artem-sapegin-XGDBdSQ70O0-unsplash.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  isolation: isolate;

  margin: 0rem 0.8rem;
  height: auto;
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
}

.utherdescription::after {
  content: '';
  position: absolute;
  background-size: cover;
  background-position: center;
  z-index: -1;
  inset: 0;
  background-color: var(--COLOR-EIGHT);
  opacity: 0.78;

  border-radius: 2rem;

  padding: 2rem;
}

/* .utherdescription {
  max-width: 50%; 
} */

 .utherdescription img {
  width: 100%; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 10px; 
  margin-bottom: 10px;
  padding: 10px; 
  opacity: 0.8;
  background-color: pink;
  
 }

 .uthermotif {
width: 100%; 
 } 