@import url();

/* --------------RESEt-------------- */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid lime !important; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
}

/* || VARIABLES */

:root {
  /* COLOUR PALETTE:  */
  --COLOR-ONE: #f07575;
  --COLOR-TWO: #ecc2c2;
  --COLOR-THREE: #f5d5d5;
  --COLOR-FOUR: #eca3a3;
  --COLOR-FIVE: #f7b3b3;
  --COLOR-SIX: #833434;
  --COLOR-SEVEN: #333;
  --COLOR-EIGHT: #fff;

  --COLOR-TEXT: #4e2020;
  --COLOR-TEXT2: #fff;

  .dark-mode {
    --COLOR-ONE: #5a99e2;
    --COLOR-TWO: #97cceb;
    --COLOR-THREE: #a3e8f1;
    --COLOR-FOUR: #a3cbec;
    --COLOR-FIVE: #c5ebe2;
    --COLOR-SIX: #7e7cec;
    --COLOR-SEVEN: #333333;
  }

  .green-mode {
    --COLOR-ONE: #80e25a;
    --COLOR-TWO: #44865d;
    --COLOR-THREE: #79b47e;
    --COLOR-FOUR: #17e44b;
    --COLOR-FIVE: #58975b;
    --COLOR-SIX: #6ac57e;
    --COLOR-SEVEN: #17a71e;
  }
}

/* || UTILITY CLASSES */

/* Navbar */

nav {
  background-color: var(--COLOR-FIVE);
  color: white;
  text-shadow: 1px 1px 1px black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
  text-align: center;
}

.navbar1 h1 {
  margin: 0 auto;
}

.navbar2 {
  background-color: var(--COLOR-ONE);
  text-decoration: none;
}

.navbar2 ul {
  display: flex;
  
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;

  text-decoration: none;
  margin: 0;
  padding: 10px;
  list-style: none;
  width: 100%;
  color: white;
}

.navbar2 a {
  text-decoration: none;
  color: inherit;
  padding: 1rem;
}

.navbar2 a:hover {
  background-color: var(--COLOR-SEVEN);
  border-radius: 0.2rem;
}

.navbar2 ul a {
  width: 100%; 

  padding: 10px; 
  cursor: pointer;
}

/* Dropdown menu styles */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -80px; 
  background-color: #ddbfbf;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  background-color: var(--COLOR-EIGHT);
  color: rgb(175, 125, 125);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: white; 
}

.dropdown:hover .dropdown-content {
  display: block;
}

li:not(.dropdown) {
  width: 25%; /* Full width for all links in mobile */
}


@media screen and (min-width: 600px) {
  li:not(.dropdown) {
    width: auto; /* Allow links to wrap one after another on larger screens */
  }
  
  .dropdown {
    width: 100%; /* Allow dropdown to take its content width */
  }

  .dropdown-content {
    position: relative; 
    /* left: 20px;  */
    width: 30%; 
  }
}

/* Hero Section --*/

.hero {
  background-image: url("images/nature/alex-hawthorne-EzbYxaZL0L0-unsplash.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  isolation: isolate;
  height: 80vh;
}

.hero::after {
  content: '';
  position: absolute;
  background-size: cover;
  background-position: top;
  z-index: -1;
  inset: 0;
  background-color: var(--COLOR-FIVE);
  opacity: 0.47;
}

.hero h1 {
  text-align: center;
  padding-top: 3rem;
  font-size: 3rem;
  text-shadow: 5px 1px 1px var(--COLOR-SEVEN);
  color: var(--COLOR-TEXT2)

}

@media screen and (min-width: 600px) {
  .hero {
    background-position: center;
  }
}

/* Works Section --- */

.works {
  background-image: url("images/nature/huper-by-joshua-earle-5lgPYsE_qe0-unsplash.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  isolation: isolate;

  margin: 2rem 0.8rem;
  height: 100vh;
  text-align: center;
  padding-top: 2rem;
  border-radius: 2rem;
}

.works::after {
  content: '';
  position: absolute;
  background-size: cover;
  background-position: center;
  z-index: -1;
  inset: 0;
  background-color: var(--COLOR-FOUR);
  opacity: 0.5;

  border-radius: 2rem;
}

.works h1:hover {
  color: white;
  font-size: 2rem;
  text-shadow: 1px 1px 1px black;

}